.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    color: #ffffff;
    padding: 16px;
}

.Header_Left {
    text-align: left;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.Header_Left a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.Header_Left a:hover {
    cursor: pointer;
}

.Header_Right {
    font-family: "novecento-sans", sans-serif;
    letter-spacing: 2px;
    display: flex;
    list-style: none;
    gap: 80px;
    margin-right: 50px;
}

.Header_Right span {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.Header_Right span:hover {
    color: gray;
    cursor: pointer;
}