.HomeSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding-left: 50px;
}

.String {
    cursor: default;
    font-family: "novecento-sans", sans-serif;
    text-align: left;
    margin-top: 250px;
}

.String h1 {
    letter-spacing: 5px;
    font-size: 40px;
    margin-bottom: -30px; /* 下の余白を削除 */
}

.String h2 {
    letter-spacing: 5px;
    font-size: 75px;
    margin-top: 0; /* 上の余白を削除 */
}